.Ready {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.Ready table {
  text-align: left;
  border-collapse: collapse;
}

.Ready td,
th {
  border: 1px solid #777;
  padding: 8px;
}

.Ready th {
  color: #aaa;
}

.Ready button {
  width: 80vmin;
  height: 40vmin;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: darkred;
  border: 4px solid rgb(77, 3, 3);
  cursor: pointer;
  font-size: calc(20px + 8vmin);
  font-weight: 800;
  color: white;
}

.Ready button:hover {
  background-color: rgb(112, 0, 0);
}
